.formHeading{
    font-size: 27px;
    margin: auto;
    margin-top: 15px;
    margin-left: 125px;
}

.input1{
    width: 70%;
    margin: auto;
    height: 40px;
    margin:20px;
    margin-left: 70px;
    border: 0px solid;
    border-bottom-width: 2px;
    background-color: transparent;
    font-size: 20px;
    color: black;
}

.input2{
    width: 70%;
    margin: auto;
    height: 40px;
    margin:20px;
    margin-left: 70px;
    border: 0px solid;
    border-bottom-width: 2px;
    /* background-color: rgb(193, 192, 190); */
    background-color: transparent;
    font-size: 20px;
    color: black;
}
::placeholder{
    color: black;
}
textarea:focus, input:focus{
    outline: none;
}

#input1{
    margin-top: 50px;
}
.forgotPassword{
    font-size: 15px;
    background-color: transparent;
    border: 0px solid;
    margin-top: 0px;
    color: rgb(32, 31, 31);
    padding-top: 0px;
    margin-left: 150px;
}

.lockIcon{
}

.login{
    font-size: 25px;
    display: block;
    margin: auto;
    width: 30%;
    margin-top: 50px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: rgb(22, 22, 22);
    color: rgba(196, 196, 196, 0.575);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.logFromOther{
    display: flex;
    margin-top: 30px;
    margin-left: 130px;
}

.logFromAnother{
    font-size: 20px;
    margin-top: 20px;
}

.logOtherButton{
    border: 0px solid;
    background-color: transparent;
    font-size: 30px;
    margin-left: 10px;
}


.signUp{
    display: block;
    font-size: 15px;
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 100px;  
    border-radius: 7px;
    background-color: transparent;
    color: black;
    border: 0px solid;
}

